html,
body {
  color: #444;
  font-size: 14px;
  font-family: 'Droid Serif', serif;
  padding: 0;
  margin: 0;
}

body {
  background: #f8f8f8;
}

.hero {
  max-width: 100%;
}

h1 {
  font-family: 'Anton', sans-serif;
}
