<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include analytics.html %}
    {% include offcanvas.html %}


    <!--//Wrapper//-->
    <div class="sp-wrapper {{ page.extraclass }}">
      <button class="sp-navbar-toggle sp-show-btn"><i class="sp-icon fa fa-align-justify"></i></button>

      <div class="sp-canvas">

        <div class="sp-content-wrap">
          <!--//Content Area//-->
          <div class="sp-content-area">
            {{ content }}
          </div>

          <!--incluir pagination -->
          
          {% include footer.html %}

        </div>
      </div>
    </div><!--//Wrapper//-->

    <!--//Javascript//-->
    <script src="{{ site.url }}/js/jquery.min.js"></script>
    <!--////-->
    <script src="{{ site.url }}/js/jquery.nicescroll.min.js"></script>
    <!--//Bootstrap//-->
    <script src="{{ site.url }}/js/bootstrap.min.js"></script>
    <!--//Custom//-->
    <script src="{{ site.url }}/js/main.js"></script>

    {% if page.url == "/frases/" %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.0.0/imagesloaded.pkgd.min.js"></script>
      <script type="text/javascript">
      var $grid = $('.grid').imagesLoaded( function() {
        // init Masonry after all images have loaded
        $grid.masonry({
          itemSelector: '.grid-item'
        });
      });
      </script>
    {% endif %}

  </body>

</html>
